<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- build:css /style/css/s.css -->
    <link type="text/css" rel="stylesheet" href="/style/css/s.css"></link>
    <!-- endbuild -->
</head>
<body>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/f/a.js"></script>
</body>
</html>