<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo</title>
    <!-- build:css /style/css/t.css -->
    <link type="text/css" rel="stylesheet" href="/style/css/t.css"></link>
    <!-- endbuild -->
</head>
<body>
<div class="g-body">
    <% include ../partials/header.ejs %>
    <div id="content">
    </div>
</div>
<!-- build:js /js/admin/vendor.min.js -->
<script type="text/javascript" src="/js/admin/tinymce.full.min.js"></script>
<!-- endbuild -->
<script type="text/javascript" src="/js/common.js"></script>
<script src="/js/f/a.js"></script>
</body>
</html>