<div class="m-table-pagination f-clearfix">
    <div class="x-left">
        <label>
            <span class="u-page-text">显示行数</span><span class="x-picker" id="">
                    <input type="text" class="x-textbox u-select-pagesize"/>
                    <button class="x-button"><i class="x-icon">↡</i></button>
                </span><ul class="x-listbox x-popover" x-multiple="false">
                    <li class="x-listbox-selected"><a href="###">10</a></li>
                    <li><a href="###">20</a></li>
                    <li><a href="###">30</a></li>
                </ul>
        </label>
    </div>
    <div class="x-right">
        <nav class="x-pager x-left" id="pager">
            <a class="x-pager-disabled" href="###"><span class="x-icon">☪</span>上一页</a>
            <a class="x-pager-actived" href="###">1</a>
            <a href="###">2</a>
            ...
            <a href="###">99</a>
            <a href="###">100</a>
            <a href="###">下一页<span class="x-icon">↠</span></a>
        </nav>
        <div class="x-left">
            <label><span class="u-page-text">跳至</span><input type="text" class="x-textbox u-input-gotopage" /><span class="u-page-text">页</span></label><button class="x-button u-btn-gotopage">跳转</button>
        </div>
    </div>
</div>