body {
  background: #f00;
}
.red {
  color: red;
  background: url("/style/img/ico.png");
}
.ico {
  background: url("/style/img/icon-done.png");
}
.ico-err {
  background: url("/style/img/ico/icon-error.png");
}